body{
    background-color: #008cff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
}
.container{
    margin: 0 auto;
    max-width: 800px;
}
.sad-face{
    font-size: 120px;
}
.upper{
    font-size:28px;
}
.lower{
    font-size: 17px;
}
